<agm-map #gm [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" 
         (mapClick)="mapClicked($event)" style="margin:20px">
    <agm-marker *ngFor="let m of advertisements; let i = index" 
                (markerClick)="clickedMarker(infoWindow)"
                [latitude]="m.latitude"
                [longitude]="m.longitude"
                (mouseOver)="mouseOver(infoWindow)"
                (dragEnd)="dragEnd($event,m,i)">
        <agm-info-window [disableAutoPan]="true" #infoWindow>
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>{{concatAddress(m)}}</mat-card-title>
                    <mat-card-subtitle class="d-flex justify-content-between" >
                        <span>{{m.cost}} руб </span>
                        <span>{{m.totalArea}}/{{m.livingArea}}/{{m.kitchenArea}} м<sup>2</sup>
                        </span>
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-actions>
                    <a mat-button [routerLink]="['/advertisements',m.id]" >{{m.description | slice:0:25}}...</a>
                </mat-card-actions>
            </mat-card>
        </agm-info-window>
    </agm-marker>
</agm-map>
<form form #searchForm="ngForm">
    <mat-form-field>
        <mat-select [(ngModel)]="searchParams.type" name="type">
            <mat-option value=0>Продажа/Аренда</mat-option>
            <mat-option value=1>Продажа</mat-option>
            <mat-option value=2>Аренда</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field style="min-width:250px">
        <input matInput [(ngModel)]="searchParams.searchField" name="searchField" minlength="3" maxlength="30"
               placeholder="город, район, улица" #searchField="ngModel">
        <mat-hint align="end">{{searchField.value?.length||0}} / 30</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="searchParams.minCost" name="minCost" type="number" min="0" max="2000"
               placeholder="Стоимость от" #minCost="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="searchParams.maxCost" name="maxCost" type="number" min="0" max="2000"
               placeholder="Стоимость до" #maxCost="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="searchParams.minFloor" name="minFloor" type="number" min="0" max="50"
               placeholder="Этаж от" #minFloor="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="searchParams.maxFloor" name="maxFloor" type="number" min="0" max="50"
               placeholder="Этаж до" #maxFloor="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="searchParams.minBuidingYear" name="minBuidingYear" type="number" min="1900" max="2050"
               placeholder="Год постройки  от" #minBuidingYear="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="searchParams.maxBuidingYear" name="maxBuidingYear" type="number" min="1900" max="2050"
               placeholder="Этаж до" #maxBuidingYear="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="searchParams.minTotalArea" name="minTotalArea" type="number" min="0" max="1000"
               placeholder="Общая площадь от(м2)" #minTotalArea="ngModel">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="searchParams.maxTotalArea" name="maxTotalArea" type="number" min="0" max="1000"
               placeholder="Общая площадь до(м2)" #maxTotalArea="ngModel">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="searchParams.balcony" #balcony="ngModel" name="balcony">Балкон</mat-checkbox>
</form>
<button mat-raised-button color="primary" [disabled]="searchForm.invalid" 
        (click)="search()" style="width: 100%;">Показать</button>
