

.registration-form {
    /*min-width: 150px;*/
  
    /*width: 100%;*/
}

.registration-form-field {
    /*width: 100%;*/
}

/*.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}*/

/*.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox {
        margin-bottom: 10px;
    }

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

input.ng-touched.ng-invalid {
    border: solid red 1px;
}

.invalid-feedback {
    display: block;
}

input.ng-touched.ng-valid {
    border: solid green 1px;
}*/
